/* Comon Color*/
$white: #fff;
$black: #333;
$bg-color: #333;
$header-color: #ff3636;

/* Theme Color*/

$link-color: #333;
$link-hover: #ff3636;
$border-color: #ddd;
$prymary-color: #ff3636;


/* Button Color*/
$box-btn-bg-color: tomato;
$btn-color: #333;
$border-btn-color: rgb(250, 121, 99);
$box-btn-hover:#222;






